USE [master]
GO
/****** Object:  Database [ElGatoFeliz]    Script Date: 18/03/2026 07:42:26 ******/
CREATE DATABASE [ElGatoFeliz]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ElGatoFeliz', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ElGatoFeliz.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ElGatoFeliz_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ElGatoFeliz_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElGatoFeliz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElGatoFeliz]
GO
/****** Object:  Table [dbo].[Consulta]    Script Date: 18/03/2026 07:42:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consulta](
	[id_consulta] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](0) NOT NULL,
	[motivo] [varchar](300) NULL,
	[codigo_mascota] [int] NOT NULL,
	[colegiado_vet] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Consulta] PRIMARY KEY CLUSTERED 
(
	[id_consulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consulta_Tratamiento]    Script Date: 18/03/2026 07:42:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consulta_Tratamiento](
	[id_consulta] [int] NOT NULL,
	[id_tratamiento] [int] NOT NULL,
	[dosis] [varchar](100) NOT NULL,
	[duracion] [varchar](80) NOT NULL,
 CONSTRAINT [PK_Consulta_Tratamiento] PRIMARY KEY CLUSTERED 
(
	[id_consulta] ASC,
	[id_tratamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dueno]    Script Date: 18/03/2026 07:42:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dueno](
	[DNI] [varchar](8) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NULL,
	[direccion] [varchar](200) NULL,
 CONSTRAINT [PK_Dueno] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mascota]    Script Date: 18/03/2026 07:42:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mascota](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](60) NOT NULL,
	[especie] [varchar](50) NOT NULL,
	[raza] [varchar](80) NULL,
	[fecha_nacimiento] [date] NULL,
	[DNI_dueno] [varchar](8) NOT NULL,
 CONSTRAINT [PK_Mascota] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tratamiento]    Script Date: 18/03/2026 07:42:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tratamiento](
	[id_tratamiento] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Tratamiento] PRIMARY KEY CLUSTERED 
(
	[id_tratamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Veterinario]    Script Date: 18/03/2026 07:42:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veterinario](
	[colegiado] [varchar](20) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[especialidad] [varchar](80) NULL,
 CONSTRAINT [PK_Veterinario] PRIMARY KEY CLUSTERED 
(
	[colegiado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Consulta_Mascota]    Script Date: 18/03/2026 07:42:26 ******/
CREATE NONCLUSTERED INDEX [IX_Consulta_Mascota] ON [dbo].[Consulta]
(
	[codigo_mascota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Consulta_Veterinario]    Script Date: 18/03/2026 07:42:26 ******/
CREATE NONCLUSTERED INDEX [IX_Consulta_Veterinario] ON [dbo].[Consulta]
(
	[colegiado_vet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CT_Tratamiento]    Script Date: 18/03/2026 07:42:26 ******/
CREATE NONCLUSTERED INDEX [IX_CT_Tratamiento] ON [dbo].[Consulta_Tratamiento]
(
	[id_tratamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Mascota_Dueno]    Script Date: 18/03/2026 07:42:26 ******/
CREATE NONCLUSTERED INDEX [IX_Mascota_Dueno] ON [dbo].[Mascota]
(
	[DNI_dueno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Consulta]  WITH CHECK ADD  CONSTRAINT [FK_Consulta_Mascota] FOREIGN KEY([codigo_mascota])
REFERENCES [dbo].[Mascota] ([codigo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Consulta] CHECK CONSTRAINT [FK_Consulta_Mascota]
GO
ALTER TABLE [dbo].[Consulta]  WITH CHECK ADD  CONSTRAINT [FK_Consulta_Veterinario] FOREIGN KEY([colegiado_vet])
REFERENCES [dbo].[Veterinario] ([colegiado])
GO
ALTER TABLE [dbo].[Consulta] CHECK CONSTRAINT [FK_Consulta_Veterinario]
GO
ALTER TABLE [dbo].[Consulta_Tratamiento]  WITH CHECK ADD  CONSTRAINT [FK_CT_Consulta] FOREIGN KEY([id_consulta])
REFERENCES [dbo].[Consulta] ([id_consulta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Consulta_Tratamiento] CHECK CONSTRAINT [FK_CT_Consulta]
GO
ALTER TABLE [dbo].[Consulta_Tratamiento]  WITH CHECK ADD  CONSTRAINT [FK_CT_Tratamiento] FOREIGN KEY([id_tratamiento])
REFERENCES [dbo].[Tratamiento] ([id_tratamiento])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Consulta_Tratamiento] CHECK CONSTRAINT [FK_CT_Tratamiento]
GO
ALTER TABLE [dbo].[Mascota]  WITH CHECK ADD  CONSTRAINT [FK_Mascota_Dueno] FOREIGN KEY([DNI_dueno])
REFERENCES [dbo].[Dueno] ([DNI])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Mascota] CHECK CONSTRAINT [FK_Mascota_Dueno]
GO
USE [master]
GO
